Host phone
    User user
    Hostname 192.168.0.0
    Port 8022
    IdentityFile ${HOME}/.ssh/ssh_ed25519
    IdentitiesOnly yes
    CheckHostIP no
    StrictHostKeyChecking no

    HashKnownHosts no
    ForwardX11 no
    AddressFamily inet

Host phone-tmux
    User user
    Hostname 192.168.0.0
    Port 8022
    IdentityFile ${HOME}/.ssh/ssh_ed25519
    IdentitiesOnly yes

    RequestTTY yes
    ForwardX11 no
    RemoteCommand tmux new -A -s ssh
    AddressFamily inet

Host github.com
    User git
    IdentityFile ${HOME}/.ssh/github_ed25519
