fish/fish_variables

nvim/lazy-lock.json
nvim/parser
nvim/parser/*
nvim/spell
nvim/spell/*

rclone/
rclone/rclone.conf

streamrip/*downloads.db

termux/font.ttf
termux/shell
mutt/passwords.gpg
passwords.gpg
