/applications/*
!/applications/games/
!/applications/newsraft.desktop
!/applications/org.keepassxc.KeePassXC.desktop

# hide applications
!/applications/assistant.desktop
!/applications/avahi-discover.desktop
!/applications/bssh.desktop
!/applications/btop.desktop
!/applications/bvnc.desktop
!/applications/cmake-gui.desktop
!/applications/designer.desktop
!/applications/java-java-openjdk.desktop
!/applications/java-java17-openjdk.desktop
!/applications/java-java21-openjdk.desktop
!/applications/jconsole-java-openjdk.desktop
!/applications/jconsole-java17-openjdk.desktop
!/applications/jconsole-java21-openjdk.desktop
!/applications/jshell-java-openjdk.desktop
!/applications/jshell-java17-openjdk.desktop
!/applications/jshell-java21-openjdk.desktop
!/applications/linguist.desktop
!/applications/lstopo.desktop
!/applications/mpv.desktop
!/applications/nm-connection-editor.desktop
!/applications/nvim.desktop
!/applications/nwg-look.desktop
!/applications/org.pwmt.zathura.desktop
!/applications/qdbusviewer.desktop
!/applications/qt5ct.desktop
!/applications/qt6ct.desktop
!/applications/qv4l2.desktop
!/applications/qvidcap.desktop
!/applications/uuctl.desktop
!/applications/xdvi.desktop
!/applications/xgps.desktop
!/applications/xgpsspeed.desktop

# allow completions manully
/fish/completions/*
!/fish/completions/mux.fish
!/fish/completions/y.fish
!/fish/completions/z.fish
/fish/fish_variables

/helix/runtime/grammars/sources


/mgba/qt.ini
/mgba/*.sqlite3

/nom/nom.db

/nvim/nvim-pack-lock.json
/nvim/parser/

/qalculate/qalc.history

/termux/font.ttf
/termux/shell

/mutt/passwords.gpg
passwords.gpg

/qBittorrent/lockfile
/qBittorrent/qBittorrent-data.conf
/qBittorrent/rss/storage.lock

/rclone/
rclone.conf

/scripts/bin/rish_shizuku.dex
/scripts/build/*/*
!/scripts/build/*/PKGBUILD

/streamrip/*downloads.db

/systemd/user/default.target.wants
/systemd/user/graphical-session.target.wants

/yazi/plugins
/yazi/plugins/*
/yazi/flavors/
