@import url("news.css");

/* https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/standalone_image_page_mods.css */
@-moz-document media-document(image) {
  @media not print {
    :root {
      background-color: #232325 !important; /* set solid color background */
      background-image: none !important; /* remove default background texture */
    }

    /* img { margin: 0 !important; } */

    /* Checkerboard pattern for transparent images, slight blue hue */
    img.transparent {
      background: conic-gradient(
          #eef 0.25turn,
          #bbc 0.25turn 0.5turn,
          #eef 0.5turn 0.75turn,
          #bbc 0.75turn
        )
        top left / 24px 24px repeat !important;
    }
  }
}

@-moz-document domain("lobste.rs") {
  .comment_form_container.comment, time {
    display: none;
  }
  .links > .corner {
    font-size: 0pt;
  }
}

@-moz-document domain("en.wikipedia.org") {
  .vector-sitenotice-container {
    display: none;
  }
}

@-moz-document domain("news.ycombinator.com") {
  tbody {
    display: block;
    margin: auto !important;
    max-width: 40rem !important;
    font-size: 1.5em !important;
  }

  #hnmain > tbody > tr:nth-of-type(1) > td > table > tbody,
  table.fatitem > tbody > tr:nth-of-type(5),
  .age,
  span.navs > a:not(.togg),
  .reply {
    display: none;
  }

  .clicky.togg {
    font-size: 2em;
  }
}

@-moz-document domain("aistudio.google.com") {
  ms-drive-permission-nudge.ng-star-inserted {
    display: none;
  }
}
