[Desktop Entry]
Name=Newsraft
GenericName=Feed reader
Comment=Feed reader for terminal
Type=Application
Exec=footclient -a newsraft -o 'font=JetBrainsMono Nerd Font:size=15' newsraft
Icon=newsraft
Terminal=false
Categories=Feed;News;Network;ConsoleOnly;
Keywords=feed;news;network;console;
