#:schema https://yazi-rs.github.io/schemas/yazi.json

## FETCH
[plugin]
prepend_fetchers   = [
  { id = "mime", url = "*.{!qB,part}", run = "noop", prio = "high" },
  { id = "mime", url = "/mnt/rclone/**", run = "noop", prio = "high" },
  { id = "git", url = "*", run = "git" },
  { id = "git", url = "*/", run = "git" },
]
prepend_previewers = [
  { url = "*.{!qB,part}", run = "noop" },
  { url = "/mnt/rclone/**", run = "noop" },
  # custom
  { mime = "application/epub+zip", run = "preview-ebook" },
  { url = "*.cb{z,r}", run = "preview-cbz" },
  { mime = "audio/mpegurl", run = "code" },
  { mime = "audio/*", run = "preview-audio" },
  { mime = "font/*", run = "font-sample" },
  { mime = "application/ms-opentype", run = "font-sample" },
  { url = "*.{otf,ttf,woff,woff2}", run = "font-sample" },
  { url = "**/.git/", run = "preview-git" },
  # plugins
  { url = "*.sqlite3", run = "preview-sqlite" },
  { mime = "application/sqlite3", run = "preview-sqlite" },
  # { mime = 'application/octet-stream', run = 'piper -- hexyl -n1000 -PC --panels 1 --border none "$1"' },
  # misc
  { mime = "application/subrip", run = "code" },
  { url = "*.{zip,rar}", run = "archive" },
]
prepend_preloaders = [
  { url = "*.{!qB,part}", run = "noop" },
  { url = "/mnt/rclone/**", run = "noop" },
  { mime = "application/epub+zip", run = "preview-ebook" },
  { mime = "audio/*", run = "preview-audio" },
  { url = "*.cb{z,r}", run = "preview-cbz" },
  { mime = "font/*", run = "font-sample" },
  { mime = "application/ms-opentype", run = "font-sample" },
  { url = "*.{otf,ttf,woff,woff2}", run = "font-sample" },
]
spotters           = [
  { url = "*/", run = "folder" },
  # Image
  { mime = "image/{avif,hei?,jxl}", run = "magick" },
  { mime = "image/svg+xml", run = "svg" },
  { mime = "image/*", run = "image" },
  { url = "*.cb{z,r}", run = "spot-cbz" },
  { mime = "video/*", run = "spot-video" },
  # { mime = "text/*", run = "spot-code" },
  { mime = "audio/*", run = "spot-audio" },
  { url = "*", run = "spot" },
  # { url = "*", run = "file" },
]

## # OPEN
[open]
rules = [
  { url = "*/", use = ["reveal", "dir2cbz", "fallback"] },
  { mime = "application/pdf", use = ["zathura", "fallback"] },
  { url = "*.cb{z,r}", use = ["zathura", "extract", "fallback"] },
  { mime = "audio/mpegurl", use = ["edit", "fallback"] },
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
    "extract",
    "fallback"
  ] },
  { url = "*.{zip,rar,deb}", use = ["extract", "zathura", "fallback"] },
  { mime = "image/*", use = ["swayimg", "swaybg", "krita", "identity", "fallback"] },
  { mime = "video/*", use = ["play", "fallback"] },
  { mime = "audio/*", use = ["kid3", "play", "picard", "fallback"] },
  { mime = "application/android.package-archive", use = ["apkinstall", "fallback"] },
  { url = "*.apk", use = ["apkinstall", "fallback"] },
  { url = "*.{ass,srt,ssa,sup,vtt}", use = ["add-sub", "edit", "fallback"] },
  # text
  { mime = "text/*", use = ["edit", "fallback"] },
  { mime = "inode/empty", use = ["edit", "fallback"] },
  { mime = "application/{json,ndjson}", use = ["edit", "fallback"] },
  { mime = "*/javascript", use = ["edit", "fallback"] },
  { url = "*.patch", use = ["edit", "fallback"] },
  { url = "*", use = ["fallback"] },
]

[opener]
add-sub    = [{ run = "echo sub-add %s | socat - /tmp/mpv.sock", desc = "󰨗 Add sub to MPV", for = "linux" }]
apkinstall = [{ run = "adb install %s", block = true, orphan = false, desc = " apk installer", for = "linux" }]
dir2cbz    = [{ run = "fish -c 'dir2cbz $argv' %s", block = true, desc = " dir2cbz" }]
identity   = [{ run = "identity -- %s", orphan = true, for = "linux", desc = "󰆊 compare images" }]
kid3       = [{ run = "kid3 -- %s", orphan = true, for = "linux", desc = " kid3" }]
krita      = [{ run = "krita %s", block = false, orphan = true, desc = " krita", for = "linux" }]
picard     = [{ run = "picard -- %s", orphan = true, for = "linux", desc = "󰫅 picard" }]
rsync      = [
  { run = "rsync -Pha -- %s brick:/sdcard/Download/", block = false, desc = " Send to phone", for = "linux" }
]
swaybg     = [{ run = "swaybg -m fill -i %s1", block = false, orphan = true, desc = " swaybg", for = "linux" }]
swayimg    = [{ run = "swayimg %s", block = false, orphan = true, desc = " swayimg", for = "linux" }]
zathura    = [{ run = "zathura %s", block = false, orphan = true, desc = " zathura", for = "linux" }]
# defaults
edit       = [
  { run = "nvim %s", desc = " nvim", block = true, for = "unix" },
  { run = "helix %s", desc = "󰚄 helix", block = true, for = "unix" }
]
fallback   = [
  { run = "xdg-open %s1", orphan = true, desc = "󰏌 Open", for = "linux" },
  { run = "rsync -Pha -- %s brick:/sdcard/Download/", block = false, desc = " Send to phone", for = "linux" },
  { run = "termux-open %s1", orphan = true, desc = "󰏌 Open", for = "android" },
]
play       = [{ run = "mpv --force-window %s1", orphan = true, for = "linux", desc = " mpv" }]
reveal     = [
  { run = "xdg-open %d", desc = " Reveal", for = "linux" },
  { run = "opendir %d", desc = " Reveal", for = "android" },
  { run = "swayimg -g %s", orphan = true, desc = " gallery" },
]
extract    = [
  { run = 'ya pub extract --list %s""', desc = "󱉛 Extract here", for = "unix" },
]

[mgr]
ratio          = [0, 1, 1]
sort_by        = "extension"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
sort_translit  = false
linemode       = "size"
show_hidden    = true
show_symlink   = true
scrolloff      = 10
mouse_events   = ["click", "scroll"]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1500
max_height      = 1007
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
ueberzug_scale  = 1
ueberzug_offset = [0, 0.2, 0, 0]

[input]
cursor_blink  = false
# TODO: no border
# rename
rename_title  = ""
rename_origin = "hovered"
rename_offset = [2, -1, 77, 3]
# cd
cd_title      = "   "
cd_origin     = "bottom-left"
cd_offset     = [0, 0, 999, 3]
# create
create_offset = [0, 0, 999, 3]
# filter
filter_title  = " 󰈲 "
filter_origin = "bottom-left"
filter_offset = [0, 0, 999, 3]
# find
find_title    = [" / ", " ? "]
find_origin   = "bottom-left"
find_offset   = [0, 0, 999, 3]
# search
search_title  = "  {n} "
search_origin = "bottom-left"
search_offset = [0, 0, 999, 3]
# shell
shell_title   = ["  ", "  block "]
shell_origin  = "bottom-left"
shell_offset  = [0, 0, 999, 3]

[pick]
open_title  = "Open with:"
open_origin = "hovered"
open_offset = [0, 1, 30, 30]

[tasks]
image_bound = [20000, 20000]
