#:schema https://yazi-rs.github.io/schemas/yazi.json

## FETCH
[plugin]
prepend_fetchers = [
  { id = "mime", url = "local://*", run = "mime-ext.local", prio = "high" },
  { id = "mime", url = "remote://*", run = "mime-ext.remote", prio = "high" },
  { id = "mime", url = "*.{!qB,part}", run = "noop", prio = "high" },
  # { id = "mime", url = "/mnt/rclone/**", run = "noop", prio = "high" },
  { id = "git", url = "*", run = "git" },
  { id = "git", url = "*/", run = "git" },
]
prepend_previewers = [
  { url = "*.{!qB,part}", run = "noop" },
  { url = "/mnt/rclone/**", run = "noop" },
  # custom
  { url = "*.typ", run = "preview-typst" },
  { mime = "application/epub+zip", run = "preview-epub" },
  { url = "*.cb{z,r}", run = "preview-cbz" },
  { mime = "audio/mpegurl", run = "code" },
  { mime = "audio/*", run = "preview-audio" },
  { mime = "font/*", run = "font-sample" },
  { mime = "application/ms-opentype", run = "font-sample" },
  { url = "*.{otf,ttf,woff,woff2}", run = "font-sample" },
  { url = "**/.git/", run = "preview-git" },
  # plugins
  { url = "*.sqlite3", run = "preview-sqlite" },
  { mime = "application/sqlite3", run = "preview-sqlite" },
  # { mime = 'application/octet-stream', run = 'piper -- hexyl -n1000 -PC --panels 1 --border none "$1"' },
  # misc
  { mime = "application/subrip", run = "code" },
  { url = "*.{zip,rar}", run = "archive" },
]
prepend_preloaders = [
  { url = "*.{!qB,part}", run = "noop" },
  { url = "/mnt/rclone/**", run = "noop" },
  { mime = "image/*", run = "noop" },
  { url = "*.typ", run = "preview-typst" },
  { mime = "application/epub+zip", run = "preview-epub" },
  { mime = "audio/*", run = "preview-audio" },
  # { url = "*.cb{z,r}", run = "preview-cbz" },
  { mime = "font/*", run = "font-sample" },
  { mime = "application/ms-opentype", run = "font-sample" },
  { url = "*.{otf,ttf,woff,woff2}", run = "font-sample" },
]
spotters = [
  { url = "*/", run = "spot" },
  { url = "*.cb{z,r}", run = "spot-cbz" },
  { mime = "audio/*", run = "spot-audio" },
  { mime = "image/*", run = "spot-image" },
  { mime = "video/*", run = "spot-video" },
  { url = "*", run = "spot" },
]

## OPEN
[open]
rules = [
  { url = "*/", use = ["dir", "common"] },
  { mime = "application/pdf", use = ["zathura", "common"] },
  # archives
  { url = "*.cb{z,r}", use = ["zathura", "extract", "common"] },
  { url = "*.{zip,rar}", use = ["extract", "zathura", "common"] },
  { url = "*.apk", use = ["apkinstall", "common"] },
  { url = "*.deb", use = ["extract", "common"] },
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["extract", "common"] },
  # multimedia
  { url = "*.{ass,srt,ssa,sup,vtt}", use = ["add-sub", "edit", "common"] },
  { mime = "audio/mpegurl", use = ["edit", "common"] },
  { mime = "image/svg+xml", use = ["swayimg", "inkscape", "edit", "common"] },
  { mime = "image/*", use = ["swayimg", "raster_tools", "common"] },
  { mime = "video/*", use = ["play", "common"] },
  { mime = "audio/*", use = ["play", "audio_tools", "common"] },
  # text
  { url = "*.patch", use = ["edit", "common"] },
  { url = "*.typ", use = ["edit", "typst", "common"] },
  { mime = "text/*", use = ["edit", "common"] },
  { mime = "inode/empty", use = ["edit", "common"] },
  { mime = "application/{json,ndjson}", use = ["edit", "common"] },
  { mime = "*/javascript", use = ["edit", "common"] },

  { mime = "vfs/{absent,stale}", use = "download" },
  { url = "*", use = ["open", "common"] },
]

[opener]
add-sub = [{ run = "echo sub-add %s | socat - /tmp/mpv.sock", desc = "󰨗 Add sub to MPV", for = "linux" }]
apkinstall = [
  # TODO: make custom install script that pick between wired and wireless
  { run = "ANDROID_USER_HOME=/home/fisher/.local/share/.android HOME=/home/fisher/.local/share/ adb install %s", block = true, orphan = false, desc = " apk installer", for = "linux" },
]
extract = [{ run = 'ya pub extract --list %s""', desc = "󱉛 Extract here", for = "unix" }]
inkscape = [{ run = "inkscape %s", block = false, orphan = true, desc = "󰕞 inkscape", for = "linux" }]
play = [{ run = "mpv --force-window %s", orphan = true, for = "linux", desc = " mpv" }]
swayimg = [{ run = "swayimg %s", block = false, orphan = true, desc = " swayimg", for = "linux" }]
zathura = [{ run = "zathura %s", block = false, orphan = true, desc = " zathura", for = "linux" }]
# groups
raster_tools = [
  { run = "swaybg -m fill -i %s1", block = false, orphan = true, desc = " swaybg", for = "linux" },
  { run = "krita %s", block = false, orphan = true, desc = " krita", for = "linux" },
  { run = "identity -- %s", orphan = true, for = "linux", desc = "󰆊 compare images" },
]
audio_tools = [
  { run = "kid3 -- %s", orphan = true, for = "linux", desc = " kid3" },
  { run = "picard -- %s", orphan = true, for = "linux", desc = "󰫅 picard" },
  { run = "tenacity %s", block = false, orphan = true, desc = "󰓀 tenacity", for = "linux" },
]
typst = [
  { run = "typst c -fpdf %s", desc = " typ -> pdf", block = true, for = "unix" },
  { run = "typst c -fsvg %s", desc = " typ -> svg", block = true, for = "unix" },
  { run = "typst c -fhtml %s", desc = " typ -> html", block = true, for = "unix" },
]
edit = [
  { run = "nvim %s", desc = " nvim", block = true, for = "unix" },
  { run = "hx %s", desc = "󰚄 helix", block = true, for = "unix" },
]
open = [
  { run = "xdg-open %s1", orphan = true, desc = "󰏌 Open", for = "linux" },
  { run = "termux-open %s1", orphan = true, desc = "󰏌 Open", for = "android" },
]
common = [
  { run = "dragon-drop -x %s", orphan = true, desc = " Drag and Drop", for = "linux" },
  { run = "rsync -Pha --info PROGRESS2 -- %s brick:/sdcard/Download/", block = false, desc = " Send to phone", for = "linux" },
]
dir = [
  { run = "xdg-open %d", desc = " Reveal", for = "linux" },
  { run = "swayimg -g %s", orphan = true, desc = " gallery" },
  { run = "fish -c 'dir2cbz $argv' %s", block = true, desc = " dir2cbz" },
]
download = [
  { run = "ya emit download --open %S", desc = " Download & 󰏌 Open" },
  { run = "ya emit download %S", desc = " Download" },
]

[mgr]
ratio = [0, 1, 1]
sort_by = "extension"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "size"
show_hidden = true
show_symlink = true
scrolloff = 10
mouse_events = ["click", "scroll"]
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 2
max_width = 1500
max_height = 1007
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
ueberzug_scale = 1
ueberzug_offset = [0, 0.2, 0, 0]

[input]
cursor_blink = false
# TODO: no border
# rename
rename_title = ""
rename_origin = "hovered"
rename_offset = [2, -1, 77, 3]
# cd
cd_title = "   "
cd_origin = "bottom-left"
cd_offset = [0, 0, 999, 3]
# create
create_offset = [0, 0, 999, 3]
# filter
filter_title = " 󰈲 "
filter_origin = "bottom-left"
filter_offset = [0, 0, 999, 3]
# find
find_title = [" / ", " ? "]
find_origin = "bottom-left"
find_offset = [0, 0, 999, 3]
# search
search_title = "  {n} "
search_origin = "bottom-left"
search_offset = [0, 0, 999, 3]
# shell
shell_title = ["  ", "  block "]
shell_origin = "bottom-left"
shell_offset = [0, 0, 999, 3]

[pick]
open_title = "Open with:"
open_origin = "hovered"
open_offset = [0, 1, 30, 30]

[tasks]
image_bound = [20000, 20000]
