// "/-" comments out the following node.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swaybg" "-m" "fill" "-i" "Pictures/desu/126278795_p0.jpg"
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y%m%d_%H%M%S_grim.png"
prefer-no-csd

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XCURSOR_SIZE "32"
    XCURSOR_THEME "Bibata-Modern-Ice"
    MESA_SHADER_CACHE_DISABLE "true"
    QT_SCALE_FACTOR "1.26"
    DISPLAY ":0"
}

input {
    keyboard {
        repeat-delay 350
        repeat-rate 40
        xkb { options "numpad:mac,grp_led:num"; }
    }

    touchpad {
        // off
        tap
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.2
        // accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
}

layout {
    gaps 3
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-window-heights { }

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    focus-ring {
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
        active-gradient from="#c6a0f6" to="#8aadf4" angle=0
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        // on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

animations {
    // off
    slowdown 0.7
}

window-rule { // floatinng save as window
    match title="^(Save File|Select Directory|Select File):$"

    open-floating true
    open-focused true
    default-column-width { proportion 0.80; }
    default-window-height { proportion 0.90; }
}

window-rule { // focus on keepass
    match title="^KeePassXC - Browser Access Request$"

    open-focused true
}

window-rule { // fullscreen
    match app-id="librewolf|vesktop|org.kde.kdeconnect.app|org.musicbrainz.Picard"
    default-column-width { proportion 1.0; }
}

window-rule { // floating pip
    match app-id="librewolf$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule { // fullscreen glut
    match app-id="^graphics$"
    default-column-width { proportion 1.0; }
}

window-rule { // *
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    // KEEB
    Mod+Q repeat=false { close-window; }
    Mod+W repeat=false { spawn "fuzzel"; }
    Mod+E repeat=false { spawn "alacritty" "-e" "fish" "-C" "y --client-id=48937"; }
    Mod+U repeat=false { close-window; }
    Mod+I repeat=false { spawn "fuzzel"; }
    Mod+O repeat=false { spawn "alacritty" "-e" "fish" "-C" "y --client-id=48937"; }

    Mod+A repeat=false { spawn "alacritty"; }
    Mod+S repeat=false { spawn "librewolf"; }
    Mod+D repeat=false { toggle-window-floating; }
    Mod+F repeat=false { switch-preset-column-width; }
    Mod+Shift+F repeat=false { fullscreen-window; }

    Mod+Z repeat=false { expand-column-to-available-width; }
    Mod+M repeat=false { quit; }

    // PRINT
    Mod+P { spawn "ctl" "ss"; }
    Mod+Shift+P { spawn "ctl" "ss" "full"; }
    Mod+Alt+P { screenshot-window; }

    // FUNC
    XF86AudioMute repeat=false    { spawn "ctl" "vol";}
    XF86AudioLowerVolume          { spawn "ctl" "vol" "-"; }
    XF86AudioRaiseVolume          { spawn "ctl" "vol" "+"; }
    XF86AudioMicMute repeat=false { spawn "ctl" "mic"; }
    XF86MonBrightnessDown         { spawn "ctl" "lum" "-"; }
    XF86MonBrightnessUp           { spawn "ctl" "lum" "+"; }

    Mod+C       { spawn "ctl" "lum" "-"; }
    Mod+Shift+C { spawn "ctl" "lum" "+"; }
    Mod+V       { spawn "ctl" "vol" "-"; }
    Mod+Shift+V { spawn "ctl" "vol" "+"; }

    // COL
    Mod+H { focus-column-left; }
    Mod+J { focus-column-left; }
    Mod+K { focus-column-right; }
    Mod+L { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-column-to-workspace-down; }
    Mod+Shift+K     { move-column-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // WS
    Mod+Ctrl+J       { focus-workspace-down; }
    Mod+Ctrl+K       { focus-workspace-up; }
    Mod+Ctrl+Shift+J { move-workspace-down; }
    Mod+Ctrl+Shift+K { move-workspace-up; }

    // MOUSE
    Mod+TouchpadScrollDown  { set-window-height "-3%"; }
    Mod+TouchpadScrollUp    { set-window-height "+3%"; }
    Mod+TouchpadScrollLeft  { set-column-width "+3%"; }
    Mod+TouchpadScrollRight { set-column-width "-3%"; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }


    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    // Mod+Shift+P { power-off-monitors; }
}
