// https://yalter.github.io/niri/

include "rules.kdl"
include "binds.kdl"

spawn-at-startup "swaybg" "-m" "fill" "-i" "pic/wp/135783037_p0.jpg"
spawn-at-startup "swayidle" "-w"
spawn-at-startup "rmdir" "-p" ".cache/fish"
screenshot-path "pic/ss/Screenshot_%Y%m%d_%H%M%S_niri.png"
prefer-no-csd

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XCURSOR_SIZE "30"
    XCURSOR_THEME "Bibata-Modern-Ice"
    MESA_SHADER_CACHE_DISABLE "true"
    QT_SCALE_FACTOR "1.26"
    DISPLAY ":0"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 32
    hide-when-typing
    hide-after-inactive-ms 5000
}

overview {
    zoom 0.48
}

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        repeat-delay 350
        repeat-rate 40
        xkb { options "numpad:mac,grp_led:num"; }
    }

    touchpad {
        // off
        tap
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.2
        // accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
}

layout {
    gaps 3
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-window-heights { }
    background-color "transparent"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    focus-ring {
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
        active-gradient from="#f7768e" to="#7aa2f7" angle=90
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        // on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

animations {
    // off
    slowdown 0.7
    // window-open { spring damping-ratio=0.4 stiffness=1000 epsilon=0.0001; }
    // workspace-switch { spring damping-ratio=0.4 stiffness=1000 epsilon=0.0001; }
    // window-movement { spring damping-ratio=0.4 stiffness=400 epsilon=0.0001; }
}
