// TODO: PR https://github.com/boydaihungst/xdg-desktop-portal-termfilechooser


// SIZING

window-rule { // floatinng save as window
    // match title="^(Save File|Select Directory|Select File):$"
    match title="^file_chooser$"

    open-floating true
    open-focused true
    default-column-width { proportion 0.80; }
    default-window-height { proportion 0.90; }
}

window-rule { // focus on keepass
    match title="^KeePassXC - Browser Access Request$"

    open-focused true
}

window-rule { // pseudo-fullscreen
    match app-id="librewolf|vesktop|anki|newsraft"
    match app-id="(org|com)\\..*\\.(Picard|Identity|rnote|kdeconnect.app)$"
    match title="^Krita$"

    default-column-width { proportion 1.0; }
}

window-rule { // game fullscreen
    match title="^osu!$"
    match app-id="^osu!$"

    open-maximized true
}

// WINDOW BLUR

window-rule { // *
    geometry-corner-radius 12
    clip-to-geometry true
    background-effect { blur true; }
}

window-rule { // unfocused
    match is-focused=false

    opacity 0.9
    draw-border-with-background false
}

// LAYER BLUR

layer-rule { // notifications
    match namespace="^notifications$"

    opacity 0.9
    background-effect { blur true; xray false; }
}

layer-rule { // launcher
    match namespace="^launcher$"

    opacity 0.9
    background-effect { blur true; xray false; }
}

layer-rule { // waybar
    match namespace="^waybar$"

    opacity 0.9
    background-effect { blur true; }
}

layer-rule { // backdrop
    match namespace="waybar|wallpaper"
    match at-startup=true

    place-within-backdrop true
}
