// MISC

window-rule {  // focus save as window
    match title="^file_chooser$"

    open-focused true
}

window-rule { // focus on keepass
    match title="^KeePassXC - Browser Access Request$"

    open-focused true
}

window-rule { // floating shadow
    match is-floating=true

    shadow {
        on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

}

// SIZING

window-rule { // maximized
    match app-id="librewolf|vesktop|newsraft" is-floating=false
    match app-id="^(org|com)\\..*\\.(Picard|kdeconnect.app)$" is-floating=false
    match title="^Krita$" is-floating=false

    open-maximized-to-edges true
}

window-rule { // fullscreen
    match app-id="^org.gnome.gitlab.YaLTeR.Identity$"

    open-fullscreen true
}

window-rule { // scrcpy
    match app-id="scrcpy"

    default-column-width { fixed 475;  }
}

// WINDOW FOCUS

window-rule { // *

    geometry-corner-radius 12
    clip-to-geometry true
    background-effect { blur true; }
    opacity 0.9
}

window-rule { // focused
    match is-focused=true

    opacity 1.0
    border
}

// LAYER BLUR

layer-rule { // notifications
    match namespace="^notifications$"

    opacity 0.9
    background-effect { blur true; xray false; }
}

layer-rule { // launcher
    match namespace="^launcher$"

    opacity 0.9
    background-effect { blur true; xray false; }
}

layer-rule { // waybar
    match namespace="^waybar$"

    opacity 0.9
    background-effect { blur true; }
}

layer-rule { // backdrop
    match namespace="waybar|wallpaper"
    match at-startup=true

    place-within-backdrop true
}
