.card {
 font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Noto Sans JP", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "MS UI Gothic", sans-serif;
 font-size: 44px;
 text-align: center;
}

.card.night_mode {
 color: #c0caf5;
 background-color: #24283b;
 margin: 10px 0px 0px 0px;
}

ol {
 padding-left: 15px;
 padding-right: 15px;
}

img {
 max-width: 500px;
 max-height: 250px;
}

.mobile img {
 max-height: 75vw;
 max-width: 85vw;
}

.yomitan-glossary {
 font-size: 18px;
 text-align: left;
 margin-bottom: -36px; /*undo*/
}

ul > li {
 margin-right: 1em;
 display: inline;
}

#content { margin: 5px; }

.container { display:flex; }
.fixed { width: 200px; }
.flex-item { flex-grow: 1; }
b { color: #5586cd; }
ul li { display: inline; }
ul { padding: 0px; margin: 0px; }



.jisho {
  font-size: 16px;
  appearance: none;
  background-color: #2ea44faa;
  border: 0px;
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
