/* vim:set cc=37 sw=2: */
/* https://jrgraphix.net/r/Unicode/ */

@font-face {
  font-family: "kana";
  src: url("_noto-serif-jp.ttf");
  unicode-range: U+3040-309f, U+30a0-30ff;
}

@font-face {
  font-family: "latin";
  src: url("_jetbrainsmono.ttf");
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "kanji";
  src: url("_noto-jp.ttf");
}

.card,
.card.night_mode {
  font-family: kana, latin, kanji;
  text-align: center;
  color: #c0caf5;
  background-color: #24283b;
  margin: 10px 0px 0px 0px;
}

b { color: #5586cd; }
.word {
  font-size: 44px;
  padding-top: 20px;
}
.word-meaning { font-size: 25px; }
.sentence {
  font-size: 25px;
  padding-top: 36px;
}

summary {
  text-align: right;
  padding-right: 20px;
  list-style-type: "+";
}
details { font-size: 16px; }
details[open] {
  .freq {
    padding: 0px 0px 0px 10px;
    ul {
      padding: 0px;
      margin: 0px;
      & li {
        display: inline;
        margin-right: 1ex;
      }
    }
  }
}

.note { font-size: 16px; }
.pic {
  bottom: 0px;
  left: 0px;
  max-height: 50%;
  img { max-height: 300px; max-width: 30%; }
  img:first-child:nth-last-child(2),
  img:first-child:nth-last-child(2) ~ img {
    max-width: 50%;
  }
  @media (orientation: landscape) {
    img { max-width: 60%; max-height: 60%; }
    img { max-width: 400px; max-height: 400px; }
  }
  @media (orientation: portrait) {
    img { max-width: 90%; max-height: 40%; }
    img { max-width: 350px; max-height: 350px; }
  }
}

button {
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.utils {
  position: fixed;
  bottom: 10px;
  right: 10px;

  .jisho {
    font-size: 1.1em;
    text-decoration: none;
    color: #ffffff;
    background-color: #2ea44fcc;
    border-radius: 30px;
    margin: 0px 5px;
    padding: 6px 15px;
  }
}
