theme = "custom"

[editor]
auto-format = true
default-yank-register = "+"
shell = ["fish", "-c"]
continue-comments = false
completion-replace = true
true-color = true
bufferline = "multiple"
color-modes = true
text-width = 85
atomic-save = true
popup-border = "all"
jump-label-alphabet = "fjdksla;ghcnvmwi"
end-of-line-diagnostics = "hint"
cursorline = true
gutters = { layout = ["line-numbers", "diff"], line-numbers.min-width = 1 }
cursor-shape = { insert = "bar", select = "underline" }
file-picker = { git-ignore = false }
whitespace = { render = { tab = "all" }, characters = { tab = ">", tabpad = " " } }
inline-diagnostics = { cursor-line = "error" }

# TODO: mh/ml -> goto left/right match

[keys.insert]
"C-n" = "completion"

[keys.normal]
q = ":quit"
0 = "extend_to_line_start"
"^" = "extend_to_first_nonwhitespace"
"$" = "extend_to_line_end"
G = "goto_file_end"
"ret" = ["move_char_right", "move_prev_word_start", "move_next_word_end", "select_mode"]
esc = ["collapse_selection", "keep_primary_selection"]
r = "redo"
U = ":reset-diff-change"
"*" = ["move_char_right", "move_prev_word_start", "move_next_word_end", "search_selection", "search_next"]
"C-r" = ":config-reload"
"C-j" = ":buffer-next"
"C-k" = ":buffer-previous"
V = ["extend_line_below"]
X = ["extend_line_above"]
D = ["extend_line_below", "delete_selection"]

[keys.normal.g]
j = "merge_selections"

[keys.normal.m]
m = ["select_mode", "match_brackets"]

[keys.normal.space]
":" = "command_palette"
h = 'command_palette'
w = ":w"
# t = { s = ":tree-sitter-scopes", h = ":tree-sitter-highlight-name" }

[keys.select]
"^" = "extend_to_first_nonwhitespace"
"$" = "extend_to_line_end"
"ret" = "select_line_below"
o = "flip_selections"
m = ["select_mode", "match_brackets"]
