theme = "custom"

[editor]
default-yank-register = "+"
shell                 = ["fish", "-c"]
continue-comments     = false
completion-replace    = true
true-color            = true
bufferline            = "multiple"
color-modes           = true
text-width            = 85
atomic-save           = true
popup-border          = "all"
jump-label-alphabet   = "fjdksla;ghcnvmwi"

[editor.gutters]
layout                 = ["line-numbers", "diff"]
line-numbers.min-width = 1

[editor.statusline]
# file-modification-indicator = 'ó°†“'

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
git-ignore = false

[editor.whitespace.render]
tab = "all"

[editor.whitespace.characters]
tab    = ">"
tabpad = " "

[keys.normal]
q     = ":quit"
0     = "extend_to_line_start"
"$"   = "extend_to_line_end"
"^"   = "extend_to_first_nonwhitespace"
G     = "goto_file_end"
"ret" = ["move_char_right", "move_prev_word_start", "move_next_word_end"]
esc   = ["collapse_selection", "keep_primary_selection"]
r     = "redo"
U     = ":reset-diff-change"
"*"   = ["move_char_right", "move_prev_word_start", "move_next_word_end", "search_selection", "search_next"]

[keys.normal.space]
w = ":w"
