/* vim:set sw=2: */

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  min-height: 0;
  opacity: 0.99;
}

#waybar {
  background: transparent;
  color: #c0caf5;
  margin: 0px 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: #24283b;
  margin-left: 1rem;
}

#workspaces button {
  color: #c0caf5;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #8db0ff;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: #7aa2f7;
  background: #181926;
  border-radius: 1rem;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-lock,
#custom-media,
#custom-music,
#custom-power,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
#mpd {
  background-color: #24283b;
  padding: 0.1rem 1rem;
  margin: 5px 0;
}

#battery.charging {
  color: #5af79e;
}
#battery.warning:not(.charging) {
  color: #f7768e;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

/* #taskbar */
/* #taskbar button */
/* #taskbar button.active */
/* #taskbar button.minimized */
/* #taskbar button.maximized */
/* #taskbar button.fullscreen */
/* #taskbar.empty */
