/* vim:set sw=2: */

* {
  font-size: 17px;
  min-height: 0;
  opacity: 0.99;
  min-height: 24px;
}

#waybar {
  font-family: "SauceCodePro Nerd Font";
  background: rgba(30, 32, 48, 0.8);
  color: #c0caf5;
  margin: 0px 0px;
  transition-property: background-color;
  transition-duration: 0s;
}

#waybar.hidden {
  opacity: 0.2;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-lock,
#custom-media,
#custom-music,
#custom-power,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
#mpd {
  padding: 0.1rem 0.5rem;
  min-width: 50px;
}

#workspaces {
  /* font-family: "Noto Sans CJK JP"; */
  margin: 0px 0px 0px 30px;
}

#workspaces button {
  color: #c0caf5;
  margin: 3px 0px 3px 0px;
  padding: 5px 5px 5px 5px;
}

#workspaces button.active {
  color: #000000;
  background: #8db0ff;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 3px 5px 3px 5px;
}

#workspaces button.urgent {
  color: #000000;
  background: #db4b4b;
  border-radius: 10px;
  padding: 5px 10px 0px 10px;
  margin: 3px 5px 3px 5px;
}

#window {
  margin-left: 60px;
}

#tray menu {
  color: #c0caf5;
  background: #24283b;
}

#network {
  min-width: 90px;
}
#network.disconnected,
#network.disabled {
  min-width: 0;
}

#memory.warning {
  color: #ff9e64;
}
#memory.critical {
  color: #f7768e;
}

#cpu.high {
  color: #f7768e;
}

#temperature.critical {
  color: #f7768e;
}

#battery.warning {
  color: #ff9e64;
}
#battery.critical {
  color: #f7768e;
}
#battery.charging {
  color: #5af79e;
}
#battery.charging.full {
  color: #8db0ff;
}

#power-profiles-daemon {
  min-width: 0px;
  margin-right: 20px;
}

#clock {
  margin: 0px 20px 0px 0px;
}
