[Desktop Entry]
Type=Application
Version=1.0
Name=Celeste
Comment=Start Celeste with the eden Emulator
Icon=/home/fisher/.local/share/icons/hicolor/256x256/eden-01002B30028F6000.png
TryExec=/opt/eden-bin/eden-bin.AppImage
Exec=/opt/eden-bin/eden-bin.AppImage -f -g "/home/fisher/Downloads/main/ROMS/Switch/Celeste/Celeste [01002B30028F6000][v0] (1.10 GB).nsp"
Categories=Game;Emulator;Qt;
Keywords=Switch;Nintendo;
