[Desktop Entry]
Name=Daniel Linssen's Typing Challenge
Icon=/home/fisher/Downloads/main/GAMES/Daniel Linssen's Typing Challenge/logo.png
Exec="/home/fisher/Downloads/main/GAMES/Daniel Linssen's Typing Challenge/play.fish"
Type=Application
Categories=Game;
Keywords=typing
