[Desktop Entry]
Name=DOGWALK
Icon=/home/fisher/Downloads/main/GAMES/dogwalk-linux/logo_no_strings.png
Exec=/home/fisher/Downloads/main/GAMES/dogwalk-linux/play.fish
Type=Application
Categories=Game;
Keywords=blender
