[Desktop Entry]
Name=Guilty Gear Strive
Icon=
Exec=/usr/bin/sudachi "/home/fisher/Downloads/main/ROMS/Switch/Guilty Gear Strive/Guilty Gear Strive [0100AB401F136000][v0].nsp"
Type=Application
Categories=Game;
Keywords=ggs
