[Desktop Entry]
Name=Guilty Gear XX Accent Core Plus R
Icon=
Exec=/usr/bin/sudachi "/home/fisher/Downloads/main/ROMS/Switch/GUILTY GEAR XX ACCENT CORE PLUS R/GUILTY GEAR XX ACCENT CORE PLUS R [0100D1C00C700000][v0] (4.22 GB).nsp"
Type=Application
Categories=Game;
Keywords=ggacpr,ggxxacpr
