[Desktop Entry]
Name=Pokemon - Omega Ruby
Icon=
Exec=/usr/bin/azahar "/home/fisher/Downloads/main/ROMS/3DS/Pokemon Omega Ruby (USA) (En,Ja,Fr,De,Es,It,Ko) (Rev 2).cci"
Type=Application
Categories=Game;
Keywords=
