[Desktop Entry]
Name=Pokemon - Ruby Version
Icon=
Exec=/usr/bin/mgba-qt "/home/fisher/Downloads/main/ROMS/Game Boy Advance/Pokemon - Ruby Version (USA, Europe).zip"
Type=Application
Categories=Game;
Keywords=
