[Desktop Entry]
Name=Touhou Fuujinroku ~ Mountain of Faith
Icon=/home/fisher/dl/main/GAMES/(TH10) Touhou Fuujinroku ~ Mountain of Faith/logo.png
Exec="/home/fisher/dl/main/GAMES/(TH10) Touhou Fuujinroku ~ Mountain of Faith/play.fish"
Type=Application
Categories=Game;
Keywords=touhou,th10
