[Desktop Entry]
Name=ZeroRangerDEMO
Icon=/home/fisher/Downloads/main/GAMES/ZeroRangerDEMO/logo.png
Exec="/home/fisher/Downloads/main/GAMES/ZeroRangerDEMO/play.fish"
Type=Application
Categories=Game;
Keywords=typing
