[Unit]
Description=Kiwix is an offline reader for online content like Wikipedia, Project Gutenberg, or TED Talks.
Documentation=https://kiwix.org/
After=network.target

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Type=exec
# TODO: use the old command after its fixed
# https://github.com/kiwix/kiwix-tools/issues/780
# https://github.com/kiwix/kiwix-tools/issues/781
# https://github.com/kiwix/kiwix-tools/pull/782
# ExecStartPre=sh -c "kiwix-manage ~/Downloads/main/zim/library_zim.xml add ~/Downloads/main/zim/*.zim"
ExecStartPre=sh -c "fd --extension zim . ~/Downloads/main/zim/ -j1 -x kiwix-manage ~/Downloads/main/zim/library_zim.xml add"
ExecStart=/usr/bin/kiwix-serve -p 8101 --library Downloads/main/zim/library_zim.xml
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
InaccessiblePaths=-/mnt/
ProtectSystem=full
ProtectHome=false
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectProc=invisible
ProcSubset=pid
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
NoNewPrivileges=true
RemoveIPC=true
IPAddressDeny=any
UMask=0077
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
SystemCallFilter=~@cpu-emulation @debug @module @mount @obsolete @reboot @swap @raw-io @privileged @resources
CapabilityBoundingSet=~CAP_SYS_PACCT CAP_KILL CAP_WAKE_ALARM CAP_LINUX_IMMUTABLE CAP_IPC_LOCK CAP_SYS_TTY_CONFIG CAP_SYS_BOOT CAP_SYS_CHROOT CAP_BLOCK_SUSPEND CAP_LEASE CAP_MKNOD CAP_CHOWN CAP_FSETID CAP_SETFCAP CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_SYS_RAWIO CAP_SYS_PTRACE CAP_SYS_NICE CAP_SYS_RESOURCE CAP_NET_ADMIN CAP_SYS_ADMIN CAP_MAC_ADMIN CAP_MAC_OVERRIDE CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_FOWNER CAP_IPC_OWNER CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE CAP_BPF CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW

[Install]
WantedBy=default.target
