[Unit]
Description=Komga is a media server for your comics, mangas, BDs, magazines and eBooks.
Documentation=https://komga.org/docs/introduction

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=SERVER_PORT=8102 KOMGA_CONFIGDIR=/home/fisher/.local/share/komga
Type=exec
ExecStart=/usr/bin/komga

[Install]
WantedBy=default.target
